<section class="cancellation-modal">
  <header class="modal-header">
    <h2 class="modal-title">Cancelamento de reserva</h2>
    <p class="modal-description">
      Você está prestes a cancelar sua reserva de viagem, tem certeza que quer fazer isso? Após confirmação não será possível desfazer sua ação.
    </p>
  </header>
  <footer class="modal-footer">
    <button class="btn btn-primary" (click)="onCancelarClick()">Cancelar reserva</button>
    <button class="btn btn-secondary" (click)="onCloseClick()">Fechar</button>
  </footer>
</section>
