<app-banner
  src="assets/imagens/banner-conclusão.png"
  alt="Banner conclusão">
</app-banner>

<app-container>
  <div class="reservation-confirmation">
    <header class="header">
      <nav class="back-nav">
        <img src="../../assets/icones/back-icon.svg" alt="Back arrow" class="back-icon" />
        <a appBackButton class="back-link">Voltar</a>
      </nav>
    </header>
    <section class="confirmation-content">
      <img src="../../assets/imagens/conclusao-reserva.png" alt="Reservation confirmed illustration" class="confirmation-image" />
      <h1 class="confirmation-title">Reserva concluída com sucesso.</h1>
      <p class="confirmation-message">
        Uhuuuul, prepare suas malas pois a compra foi confirmada e o seu próximo destino já está programado!
      </p>
    </section>
  </div>
</app-container>
