<app-banner
  src="assets/imagens/banner-detalhes.png"
  alt="Banner da tela de detalhe">
</app-banner>

<app-container>
  <section class="wrapper">
    <article>
      <h1 class="main-title">Atravesse o deserto no Chile</h1>
      <section class="travel-details">
        <div class="travel-image-container"></div>
        <aside class="travel-info">
          <div class="travel-info-content">
            <p><strong>Data de ida:</strong> 23/09/2025</p>
            <p><strong>Data de volta:</strong> 30/09/2025</p>
            <p><strong>Origem:</strong> Rio Branco</p>
            <p><strong>Estado de origem:</strong> Acre</p>
            <p class="travel-price">R$ 3769</p>
            <div>
              <button class="reserve-button" (click)="onReserveClick()">Quero reservar agora!</button>
            </div>
            <button class="buy-button">Quero comprar agora!</button>
          </div>
        </aside>
      </section>
      <section class="adventure-description">
        <p>
          Bem-vindo à aventura de uma vida no coração do Deserto do Atacama! Nosso pacote de viagem oferece uma experiência única e inesquecível, explorando uma das maravilhas naturais mais fascinantes do mundo. Localizado no norte do Chile, o Atacama é conhecido por suas paisagens surreais, vastidão impressionante e céu noturno estrelado. Durante sua estadia, você terá a oportunidade de testemunhar a beleza hipnotizante dos salares brilhantes, vulcões imponentes e cânions esculpidos pelo tempo.
        </p>
        <p>
          Prepare-se para se perder na imensidão do deserto enquanto embarca em emocionantes excursões guiadas. Desde os Geysers del Tatio, onde os vapores se elevam ao amanhecer, até as lagoas salgadas de Miscanti e Miñiques, cada destino revela uma parte única da rica tapeçaria natural do Atacama. À noite, mergulhe na magia do observatório astronômico, onde a falta de poluição luminosa permite que as estrelas brilhem com intensidade inigualável, oferecendo um espetáculo celestial incomparável. Esteja preparado para se surpreender e encantar a cada passo neste oásis deslumbrante no meio do deserto.
        </p>
      </section>
      <section class="image-gallery">
        <div class="gallery">
          <div class="gallery-image-1"></div>
          <div class="gallery-image-2"></div>
        </div>
        <div class="large-gallery-image"></div>
      </section>
    </article>
  </section>

  <hr class="diveder">

  <section class="testimonials">
    <h2>Depoimentos</h2>
    <app-depoimentos />
  </section>
</app-container>

