.app-header {
  .mat-toolbar {
    background-color: black;
    color: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .menu-button {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }

  .links-toolbar {
    display: flex;
    flex-direction: column;  // Ensure vertical layout for mobile
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 1000;

    @media (min-width: 769px) {
      position: static;
      flex-direction: row;
      background-color: transparent;
      box-shadow: none;
      display: flex;
      align-items: baseline;
    }

    button:first-of-type {
      padding-right: 40px;
    }

    button {
      margin-left: 20px;
    }

    button, a {
      width: 100%;  // Full width for vertical alignment
      text-align: left;  // Align text to the left
    }

    img {
      height: auto;
      width: 30px;
    }
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: #673ab7;
    color: #673ab7;
  }

  button {
    margin: 8px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
